@import "Mixins_and_variables/Variables";

.mainWindow{
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10vh);
 // grid-auto-rows: inherit;
//  grid-area: 3/1/6/10;
  justify-content: center;
  background-color: rgba(233, 235, 240, 1);
}
