@import "Mixins_and_variables/Variables";

.mainWindow{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, 10%);
  grid-template-rows: repeat(10, 10vh);
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;
  background-color: #e9ebf0;
}
