@import "Mixins_and_variables/Variables";

.nav {
  //grid-area: nav;
  padding-top: 20px;
  grid-area: 2/1/3/10;
  display: flex;
  justify-content: center;
  background-color: rgba(233, 235, 240, 1);


  .btn {
    margin-right: 70px;
    text-decoration: none;
    color: $color;
   // display: block;
    &:hover{
      color: $active_color;
    }
    &.active {

    }
  }
}

