@import "Mixins_and_variables/Variables";

.nav {
  grid-area: nav;
  background-color: rgba(233, 235, 240, 1);
  position: relative;
  width: 200px;


  .btn {
    margin-bottom: 10px;
    text-decoration: none;
    color: $color;
    display: block;
    &:hover{
      color: $active_color;
    }
    &.active {

    }
  }
}

