@import "Mixins_and_variables/Mixins.scss";
@import "Mixins_and_variables/Variables";


.Profile {
  display: grid;
  grid-area: main;
  background-color: white;
  border-radius: 10px;
  margin: 15px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
          "avatar description"
  "messageArea posts";
}

.avatar {
  grid-area: avatar;
  height: $height;

  img {
    max-width: 150px;
    border-radius: 50%;
    padding: 10px
  }
}

.description {
  grid-area: description;
  height: $height;
}

.messageArea{
  grid-area: messageArea;

}
.posts {
  grid-area: posts;
  border: 1px solid lightgray;

}


.singlePost {
  //margin-left: 10px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    @include user_avatar(50px, 50px)
  }
}

