@import "Mixins_and_variables/Variables";

.usersMainWrapper{
  grid-template-columns: repeat(5, 310px);
  display: grid;
  grid-auto-flow: row dense;

}
.users__wrap {
  margin-top: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 300px;
  background-color: white;
  margin-bottom: 10px;
}

.users__pagination {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.users__currentPage {
  color: deepskyblue;
  font-weight: bold;
}

.users__img {
  border-radius: 50%;
}

.users__followed_btn {
  display: block;
  background-color: deepskyblue;
  border-radius: 10px;
  border-style: none;
  outline: none;
}

.users__info {
display: flex;
  justify-content: center;
  align-items: center;
}

.users__name {

}

.users__status {

}

.users__location {

}