@import "Mixins_and_variables/Variables";

.users__wrap {
  display: grid;
  grid-area: main;
  //display: block;
  background-color: white;
  margin-bottom: 10px;
}

.users__pagination {
  cursor: pointer;
  color: black;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.users__currentPage {
  color: deepskyblue;
  font-weight: bold;
}

.users__img {
  border-radius: 50%;
}

.users__followed_btn {
  display: block;
  background-color: deepskyblue;
  border-radius: 10px;
  border-style: none;
  outline: none;
}

.users__info {

}

.users__name {

}

.users__status {

}

.users__location {

}